@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  margin: 0;
  overflow: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

